body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(63, 55, 55);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background-size: 400% 400%; */
  /* animation: gradientBG 15s ease infinite; */
}

canvas {
  border: 2px solid rgb(160, 160, 160);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
